<html>
  <!-- Head -->
  <head>
    <title> Learn Html Css</title>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
  </head>

  <!-- Body -->
  <body>
    <!-- Header Part -->
    <header>
      <h2 class="logo">Logo</h2>
    </header>

    <!-- Navigation -->
    <nav>
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Portfolio</li>
        <li>Contact</li>
      </ul>
    </nav>

    <!-- Main Container -->
    <section>
      <div class="main-content">
        <h3>Lorem Ipsum</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum erat eu facilisis dictum. Duis justo nisl, sodales non sapien eu, scelerisque placerat massa. Duis malesuada diam et quam vestibulum, at maximus diam euismod. Aenean laoreet non quam in placerat. Aliquam varius sagittis enim. Vestibulum ac urna commodo, vulputate quam quis, tempor turpis. In tempus, urna sit amet dignissim mollis, sem nibh egestas mauris, vel tempus nulla diam tincidunt urna.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum erat eu facilisis dictum. Duis justo nisl, sodales non sapien eu, scelerisque placerat massa. Duis malesuada diam et quam vestibulum, at maximus diam euismod. Aenean laoreet non quam in placerat. Aliquam varius sagittis enim. Vestibulum ac urna commodo, vulputate quam quis, tempor turpis. In tempus, urna sit amet dignissim mollis, sem nibh egestas mauris, vel tempus nulla diam tincidunt urna.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum erat eu facilisis dictum. Duis justo nisl, sodales non sapien eu, scelerisque placerat massa. Duis malesuada diam et quam vestibulum, at maximus diam euismod. Aenean laoreet non quam in placerat. Aliquam varius sagittis enim. Vestibulum ac urna commodo, vulputate quam quis, tempor turpis. In tempus, urna sit amet dignissim mollis, sem nibh egestas mauris, vel tempus nulla diam tincidunt urna.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum erat eu facilisis dictum. Duis justo nisl, sodales non sapien eu, scelerisque placerat massa. Duis malesuada diam et quam vestibulum, at maximus diam euismod. Aenean laoreet non quam in placerat. Aliquam varius sagittis enim. Vestibulum ac urna commodo, vulputate quam quis, tempor turpis. In tempus, urna sit amet dignissim mollis, sem nibh egestas mauris, vel tempus nulla diam tincidunt urna.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum erat eu facilisis dictum. Duis justo nisl, sodales non sapien eu, scelerisque placerat massa. Duis malesuada diam et quam vestibulum, at maximus diam euismod. Aenean laoreet non quam in placerat. Aliquam varius sagittis enim. Vestibulum ac urna commodo, vulputate quam quis, tempor turpis. In tempus, urna sit amet dignissim mollis, sem nibh egestas mauris, vel tempus nulla diam tincidunt urna.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum erat eu facilisis dictum. Duis justo nisl, sodales non sapien eu, scelerisque placerat massa. Duis malesuada diam et quam vestibulum, at maximus diam euismod. Aenean laoreet non quam in placerat. Aliquam varius sagittis enim. Vestibulum ac urna commodo, vulputate quam quis, tempor turpis. In tempus, urna sit amet dignissim mollis, sem nibh egestas mauris, vel tempus nulla diam tincidunt urna.
        </p>
      </div>
      <div class="right-side">
        <p>
          right side :::: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum erat eu facilisis dictum. Duis justo nisl, sodales non sapien eu, scelerisque placerat massa. Duis malesuada diam et quam vestibulum, at maximus diam euismod. Aenean laoreet non quam in placerat. Aliquam varius sagittis enim. Vestibulum ac urna commodo, vulputate quam quis, tempor turpis. In tempus, urna sit amet dignissim mollis, sem nibh egestas mauris, vel tempus nulla diam tincidunt urna.
        </p>
      </div>
    </section>

    <!-- Footer -->
    <footer>Copyright: This is for learning purpoese.</footer>
  </body>
</html>